<div class="field">
  <%= f.attribute_fields do |a| %>
    <table>
      <tr>
        <td><%= a.attribute_select({}, {class: "form-control"}) %></td>
        <td><%= f.predicate_select only: [:cont, :not_cont, :eq, :not_eq, :blank, :null, :not_null] %></td>
        <td><%= f.predicate_select({}, {class: "form-control"}) %></td>
        <td>
          <%= f.value_fields do |v| %>
            <%= v.text_field :value, class: "form-control" %>
          <% end %>
        </td>
        <td><%= link_to "", '#', class: "remove_fields fi-minus", :style => "text-decoration: none" %></td>
      </tr>
    </table>
  <% end %>
</div>