<tr>
  <%= fields_for "inmueble[documentos_attributes][]", inmueble.documentos.build do |f| %>
      <td><%= f.label :documento, "Seleccione el archivo" %></td>
      <td>
        <%= f.file_field :documento, :class => :upload,  :accept=> "image/*"%>
      </td>
      <td><%= f.label :documento, "Descripción" %></td>
      <td><%= f.text_field :descripcion %></td>
      <td><%= image_tag "remove.png", :class => "remove_file" %></td>
  <% end %>
</tr>