<tr>
  <%# fields_for "inmueble[documentos_attributes][]", @inmueble.documentos.build do |f| %>
  <%= f.fields_for :documentos do |f| %>
      <td>
        <%= f.label :documento, "Archivo" %>
      </td>
      <td>
        <%= f.file_field :documento, :class => :upload, :accept=> "image/*", :style => "width: 150px;"%>
      </td>
      <td>
        <%= f.label :documento, "Descripción" %>
      </td>
      <td>
        <%= f.text_field :descripcion, :class => "form-control" %>
      </td>
      <td><%# link_to image_tag("remove.png", :border => 0), "#", :class => "remove_file" %></td>
  <% end %>
</tr>