<%= form_for @inmueble, :multipart => true  do |f| %>
	<% if @inmueble.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@inmueble.errors.count, "error") %> prohibited this inmueble from being saved:</h2>
			<ul>
				<% @inmueble.errors.full_messages.each do |msg| %>
		        	<li><%= msg %></li>
		      	<% end %>
			</ul>
		</div>
	<% end %>
	<table class="table response">
    <tr>
        <td colspan="6"><span class="lead">Información de inmueble</span></td>
    </tr>

    <!--
    <tr>
      <td colspan="3">
        <%# f.file_field :logo, :class => :upload, :accept=> "*"%>
      </td>
    </tr>
    -->
		<tr>
			<td><%= f.label :nombre_inmueble %></td>
			<td><%= f.text_field :nombre_inmueble, :class => "form-control"%></td>

			<td><%= f.label :clase_inmueble %></td>
			<td><%= f.select(:clase_inmueble,
                             options_for_select(select_clase_inmueble, @inmueble.clase_inmueble),
                             {:prompt => "Seleccione una opción"},
                             { :class => "form-control"}) %></td>

			<td><%= f.label :ciudad_id %></td>
			<td>
              <%= f.select(:ciudad_id,
                           options_from_collection_for_select(Ciudad.where(:departamento => "Antioquia"), "id", "nombre", @inmueble.ciudad_id),
                           { :prompt => "Seleccione una opción"},
                           {:class => "form-control"}) %>
            </td>
		</tr>
		<tr>
			<td><%= f.label :zona %></td>
			<td><%= f.text_field :zona, :class => "form-control" %></td>

			<td><%= f.label :tipo_negocio %></td>
			<td><%= f.select(:tipo_negocio,
                             options_for_select(select_tipo_negocio, @inmueble.tipo_negocio),
                             {:prompt => "Seleccione una opción"},
                             {:class => "form-control" } )%></td>

			<td><%= f.label :direccion %></td>
			<td><%= f.text_field :direccion, :class => "form-control"%></td>
		</tr>

		<tr>
			<td><%= f.label :area_disponible%></td>
			<td><%= f.text_field :area_disponible, :class => "form-control"%></td>

      <td><%= f.label :status, "Estado" %></td>
      <td>
        <%= f.select(:status, options_for_select(select_status, @inmueble.status),
                              {:prompt => "Seleccione una opción "},
                              {:class => "form-control" } )%>
      </td>


		</tr>
		<tr>
            <td><%= f.label :area_disponible_desc, "Descripción área disponible" %></td>
            <td colspan="3"><%= f.text_area :area_disponible_desc, :rows => "10", :class => "form-control"%></td>
		</tr>
		<tr>
			<td><%= f.label :valor_mt2 %></td>
			<td><%= f.text_field :valor_mt2, :class => "form-control" %></td>

			<td><%= f.label :valor_total%></td>
			<td><%= f.text_field :valor_total , :class => "form-control"%></td>

			<td><%= f.label :valor_admin %></td>
			<td><%= f.text_field :valor_admin , :class => "form-control"%></td>
		</tr>
		<tr>
			<td><%= f.label :predial %></td>
			<td><%= f.text_field :predial , :class => "form-control"%></td>

			<td><%= f.label :frente %></td>
			<td><%= f.text_field :frente , :class => "form-control"%></td>

			<td><%= f.label :fondo %></td>
			<td><%= f.text_field :fondo , :class => "form-control"%></td>
		</tr>
      <tr>
        <td><%= f.label :fecha_disponibilidad %></td>
        <td><%= f.text_field :fecha_disponibilidad , :class => "form-control datepicker" %></td>

        <td><%= f.label :fecha_salida_inventario %></td>
        <td><%= f.text_field :fecha_salida_inventario , :class => "form-control datepicker"%></td>

        <td><%= f.label :anio_construccion, "Año construcción" %></td>
        <td><%= f.text_field :anio_construccion , :class => "form-control"%></td>
      </tr>
      <tr>
        <td><%= f.label :nro_pisos %></td>
        <td><%= f.text_field :nro_pisos , :class => "form-control"%></td>

        <td><%= f.label :parqueadores, "Parqueaderos" %></td>
        <td><%= f.text_field :parqueadores , :class => "form-control"%></td>

        <td><%= f.label :densidad %></td>
        <td><%= f.text_field :densidad , :class => "form-control"%></td>
      </tr>
      <tr>
        <td><%= f.label :porcentaje_comision %></td>
        <td><%= f.text_field :porcentaje_comision , :class => "form-control"%></td>

        <td><%= f.label :valor_inmueble %></td>
        <td><%= f.text_field :valor_inmueble , :class => "form-control"%></td>

        <td><%= f.label :altura %></td>
        <td><%= f.text_field :altura , :class => "form-control"%></td>
      </tr>
      <tr>
        <td><%= f.label :nro_pisos_permitidos %></td>
        <td><%= f.text_field :nro_pisos_permitidos , :class => "form-control"%></td>

        <td><%= f.label :indice_ocupacion %></td>
        <td><%= f.text_field :indice_ocupacion , :class => "form-control"%></td>

        <td><%= f.label :indice_construccion %></td>
        <td><%= f.text_field :indice_construccion , :class => "form-control"%></td>
      </tr>
      <tr>
        <td><%= f.label :fecha_captado %></td>
        <td><%= f.text_field :fecha_captado , :class => "form-control datepicker"%></td>
      </tr>
		<tr>
            <td><%= f.label :entorno %></td>
            <td colspan="3"><%= f.text_area :entorno, :cols => "20", :rows => "10", :class => "form-control"%></td>
		</tr>
      <tr>
          <td><%= f.label :otras_caracteristicas %></td>
          <td colspan="3"><%= f.text_area :otras_caracteristicas, :cols => "10", :rows => "10", :class => "form-control"%></td>
      </tr>
		<tr>
      <td><%= f.label :transporte %></td>
      <td colspan="3"><%= f.text_area :transporte, :rows => "10", :class => "form-control"%></td>
		</tr>

		<tr>
			<td colspan="8"><strong><hr></strong></td>
		</tr>
		<tr>
			<td colspan="6"><span class="lead">Propietarios</span></td>
		</tr>
		<tr>
			<td><%= f.label :propietario_id %></td>
			<td><%= f.select(:propietario_id,
							 options_from_collection_for_select(Propietario.all, "id", "nombre", @inmueble.propietario_id),
							 {:prompt => "Seleccione una opción"},
							 {:class => "form-control"})%>
				</td>
				<td>
				<%# link_to "Crear nuevo", "#", :class => "btn btn-link add_new_propietario", :remote => true %>
			</td>
		</tr>

		<%# f.fields_for :propietarios do |f| %>
			<%# render "propietario_fields", :f => f %>
		<%# end %>
    <tr>
      <td colspan="8"><strong><hr></strong></td>
    </tr>
    <tr>
      <td colspan="6"><span class="lead">Intermediarios</span></td>
    </tr>

    <%= f.fields_for :intermediarios do |f| %>
      <%= render 'intermediarios', :f => f %>
    <% end %>

		<tr>
			<td colspan="8"><strong><hr></strong></td>
		</tr>
    <tr>
        <td colspan="6"><span class="lead">Interesados</span></td>
    </tr>

    <%= f.fields_for :interesados do |f| %>
      <%= render 'interesados', :f => f %>
    <% end %>

    <tr>
      <td colspan="8"><strong><hr></strong></td>
    </tr>

    <%= f.fields_for :documentos do |f| %>
      <%= render 'documentos', :f => f %>
    <% end %>

    <!--
    <tr>
        <td><%# link_to image_tag("add.png", :border => 0, :width => 35), documentos_inmuebles_path, :remote => true, :class => "add_file" %></td>
    </tr>
    -->
    <tr>
      <td colspan="8"><strong><hr></strong></td>
    </tr>
	</table>
	<div class="actions">
		<%= f.submit "Guardar inmueble", :class => "btn btn-primary" %>
	</div>
<% end %>


