<div class="col-xs-2">
  <%= select_tag "interesados[ids][]",
    options_from_collection_for_select(Interesado.all, "id", "nombre", @inmueble.interesados[0].try(:id)),
    {:prompt => "Seleccione una opción", :class => "form-control" }%>
</div>
<div class="col-xs-2">
  <%= select_tag "interesados[ids][]",
    options_from_collection_for_select(Interesado.all, "id", "nombre", @inmueble.interesados[1].try(:id)),
    {:prompt => "Seleccione una opción", :class => "form-control" }%>
</div>
<div class="col-xs-2">
  <%= select_tag "interesados[ids][]",
    options_from_collection_for_select(Interesado.all, "id", "nombre", @inmueble.interesados[2].try(:id)),
    {:prompt => "Seleccione una opción", :class => "form-control" }%>
</div>
<div class="col-xs-2">
  <%= select_tag "interesados[ids][]",
    options_from_collection_for_select(Interesado.all, "id", "nombre", @inmueble.interesados[3].try(:id)),
    {:prompt => "Seleccione una opción", :class => "form-control" }%>
</div>
<div class="col-xs-2">
  <%= select_tag "interesados[ids][]",
    options_from_collection_for_select(Interesado.all, "id", "nombre", @inmueble.interesados[4].try(:id)),
    {:prompt => "Seleccione una opción", :class => "form-control" }%>
</div>
<!--
<%# f.label :observaciones %>
<td colspan="3"><%# f.text_area :observaciones, :cols => "20", :rows => "10", :class => "form-control"%>
-->
