<tr>
  <td><%= f.label :nombre %></td>
  <td><%= f.text_field :nombre, :class => "form-control" %></td>

  <td><%= f.label :telefono, "Teléfono" %></td>
  <td><%= f.text_field :telefono, :class => "form-control"%></td>

  <td><%= f.label :celular, "Celular" %></td>
  <td><%= f.text_field :celular, :class => "form-control"%></td>
</tr>
<tr>
  <td><%= f.label :email %></td>
  <td><%= f.text_field :email, :class => "form-control"%></td>

  <td><%= f.label :observaciones %></td>
  <td colspan="3"><%= f.text_area :observaciones, :cols => "20", :rows => "10", :class => "form-control"%></td>
</tr>