<tr>
  <td><%= f.label :nombre %></td>
  <td><%= f.text_field :nombre, :class => "form-control" %></td>

  <td><%= f.label :telefono, "Teléfono" %></td>
  <td><%= f.text_field :telefono, :class => "form-control"%></td>

  <td><%= f.label :email %></td>
  <td><%= f.text_field :email, :class => "form-control"%></td>

  <td><%= f.label :ult_fecha_contacto, "Última fecha de contacto" %></td>
  <td><%= f.text_field :ult_fecha_contacto, :class => "form-control datepicker" %></td>
</tr>