<tr class="propietarios_form">
	<td colspan="2"><span class="lead">Información de propietario</span></td>
	<td colspan="4"><%= link_to "Cancelar", "#", :class => "btn btn-link cancel_propietario_form", :remote => true%></td>
</tr>
<tr class="propietarios_form">
	<td><%= f.label :nombre %></td>
	<td><%= f.text_field :nombre, :class => "form-control" %></td>	
	
	<td><%= f.label :telefono %></td>
	<td><%= f.text_field :telefono, :class => "form-control"%></td>
	
</tr>
<tr class="propietarios_form">
	<td><%= f.label :celular %></td>
	<td><%= f.text_field :celular, :class => "form-control"%></td>
	
	<td><%= f.label :direccion %></td>
	<td><%= f.text_field :direccion, :class => "form-control"%></td>
</tr>
<tr class="propietarios_form">
	<td><%= f.label :email%></td>
	<td><%= f.text_field :email, :class => "form-control"%></td>
</tr>
