<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <%= form_for @inmueble, url: generate_pdf_inmuebles_path(@inmueble.id, format: 'pdf'), :multipart => true  do |f| %>
          <table class="table response">
            <tr>
              <td><span class="help-block"><span class="mandatory"></span>Campos obligatorios</span></td>
            </tr>
            <tr>
              <td colspan="4"><span class="lead">Encargado del reporte</span></td>
            </tr>
            <tr>
              <td><%= f.label :nombre_encargado, "Nombre" %></td>
              <td><%= f.text_field :nombre_encargado, :class => "form-control" %></td>

              <td><%= f.label :celular_encargado, "Celular" %></td>
              <td><%= f.text_field :celular_encargado, :class => "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :email_encargado, "Email" %></td>
              <td><%= f.text_field :email_encargado, :class => "form-control" %></td>
            </tr>

            <tr>
              <td colspan="4">
                <span class="lead">Destino del reporte</span>
              </td>
            </tr>
            <tr>
              <td><%= f.label :trato_destino_reporte, "Trato", class: "mandatory" %></td>
              <td>
                <%= f.select( :trato_destino_reporte,
                              options_for_select(
                                trato_destino_reporte,
                                @inmueble.trato_destino_reporte
                              ),
                              { :prompt => "Seleccione una opción" },
                              { :class => "form-control" }
                            )
                %>
              </td>

              <td><%= f.label :nombre_destino_reporte, "Nombre", class: "mandatory" %></td>
              <td><%= f.text_field :nombre_destino_reporte, :class => "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :cargo_destino_reporte, "Cargo", class: "mandatory" %></td>
              <td><%= f.text_field :cargo_destino_reporte, :class => "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :logo, "Logo", class: "mandatory" %></td>
              <td colspan="4">
                <%= f.file_field :logo, :class => :upload, :accept=> "*"%>
              </td>
            </tr>
          </table>
          <div class="actions">
            <%= f.submit "Continuar", :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
