<div class="first_page">
  <div class="logo_wbr">
    <%= wicked_pdf_image_tag 'wbr_logo.png', width: 450, height: 200 %>
  </div>
  <div class="info_target">
    <p class="name_target">Dr. Jose Mateo Vidal Barrera</p>
    <p class="charge_target">Ingeniero de Sistemas</p>
    <p class="logo_target">
      <%= wicked_pdf_image_tag @inmueble.logo_url(:thumb).to_s unless @inmueble.logo_url.nil? %>
    </p>
  </div>
</div>
<div class="second_page">
  <div class="header">
    <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
  </div>
  <div class="page_content">
    <div class="summary_list">
      <ol>
        <li>Descripción del inmueble, fotos y normas de uso.</li>
        <li>Localización y georeferenciación del inmueble.</li>
        <li>Características e información complementaria.</li>
        <li>Gráficos complementarios.</li>
      </ol>
    </div>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name">Jose Mateo Vidal Barrera</p>
      <p class="incharge_cellphone">+57 3008518308</p>
      <p class="incharge_email">jvidalba@gmail.com</p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>


<div class="third_page">
  <div class="header">
    <div class="info_header">
      <p>Oficina</p><p>Arriendo</p><p>Valor total: $123'123.000</p>
    </div>
    <div class="header_img">
      <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
    </div>
  </div>
  <div class="page_content">
    <table>
      <tr>
        <td colspan=2><%= wicked_pdf_image_tag 'wbr_logo.png', width: 400, height: 350 %></td>
        <td colspan=2><%= wicked_pdf_image_tag 'wbr_logo.png', width: 400, height: 350 %></td>
      </tr>
      <tr>
        <td>Ciudad</td>
        <td>Medellin</td>

        <td>Pisos permitidos</td>
        <td>234</td>
      </tr>
      <tr>
        <td>Zona</td>
        <td>Velodromo</td>

        <td>Índice construcción</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Dirección</td>
        <td>Crr 77 AA N. 45 G - 80 (801)</td>

        <td>Índice ocupación</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>Área disponible</td>
        <td>600.000 m2</td>

        <td>Densidad de construcción</td>
        <td>2 viviendas / hectareas </td>
      </tr>
      <tr>
        <td>Frente</td>
        <td>1000000000 m </td>

        <td>Valor administración</td>
        <td>$123.123</td>
      </tr>
      <tr>
        <td>Fondo</td>
        <td>1000000000 m</td>

        <td>Predial</td>
        <td>$3'123.000</td>
      </tr>
      <tr>
        <td>Altura</td>
        <td>1.000 m</td>

        <td>Valor metro cuadrado</td>
        <td>$123.123</td>
      </tr>
      <tr>
        <td>Número pisos</td>
        <td>16</td>
      </tr>
      <tr>
        <td>Parqueaderos</td>
        <td>32</td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name">Jose Mateo Vidal Barrera</p>
      <p class="incharge_cellphone">+57 3008518308</p>
      <p class="incharge_email">jvidalba@gmail.com</p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>


<div class="fourth_page">
  <div class="header">
    <div class="header_img">
      <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
    </div>
  </div>
  <div class="page_content">
    <div class="google_maps_img">
      <%= wicked_pdf_image_tag 'google_maps_example.gif', width: 600, height: 540 %>
    </div>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name">Jose Mateo Vidal Barrera</p>
      <p class="incharge_cellphone">+57 3008518308</p>
      <p class="incharge_email">jvidalba@gmail.com</p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>


<div class="fiveth_page">
  <div class="header">
    <div class="header_img">
      <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
    </div>
  </div>
  <div class="page_content">
    <table>
      <tr>
        <td class="title">Entorno</td>
      </tr>
      <tr>
        <td>
          Apoyo total y entusiastamente (como muchos de ustedes saben) los criterios y el trabajo de CRISIS EDUCATIVA. Sin embargo me gustaría que este colectivo asumiera muchísimo más protagonismo y que “se crean” que pueden y deben liderar e impulsar dinámicas de cambio en el sistema educativo español.
        </td>
      </tr>
      <tr>
        <td class="title">Transporte</td>
      </tr>
      <tr>
        <td>
          No creo que, a esos efectos, deban aumentar el número de sus componentes porque eso crearía una enorme dificultad a la hora de consensuar su estrategia y sus pronunciamientos públicos sino simplemente publicitarse más, y convocar (en Madrid si es posible) una rueda de prensa de presentación pública ofreciéndose para su participación en todos los medios informativos a requerimiento de estos y dando a conocer las líneas maestras de sus diagnósticos y propuestas. En definitiva, se trata de concitar apoyos “desde fuera” sin aumentar su estructura interna. Si les fuera posible deberían liberar a uno de los miembros del colecfuvo para que actuara de portavoz ante los medios informativos de toda España (Prensa, radios y teevisiones).
        </td>
      </tr>
      <tr>
        <td class="title">Otras características</td>
      </tr>
      <tr>
        <td>
          No creo que, a esos efectos, deban aumentar el número de sus componentes porque eso crearía una enorme dificultad a la hora de consensuar su estrategia y sus pronunciamientos públicos sino simplemente publicitarse más, y convocar (en Madrid si es posible) una rueda de prensa de presentación pública ofreciéndose para su participación en todos los medios informativos a requerimiento de estos y dando a conocer las líneas maestras de sus diagnósticos y propuestas. En definitiva, se trata de concitar apoyos “desde fuera” sin aumentar su estructura interna. Si les fuera posible deberían liberar a uno de los miembros del colecfuvo para que actuara de portavoz ante los medios informativos de toda España (Prensa, radios y teevisiones).
        </td>
      </tr>
    </table>
    <div class="environment">
    </div>
    <div class="transport">
    </div>
    <div class="other_characteristics">
    </div>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name">Jose Mateo Vidal Barrera</p>
      <p class="incharge_cellphone">+57 3008518308</p>
      <p class="incharge_email">jvidalba@gmail.com</p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>



<div class="sixth_page">
  <div class="header">
    <div class="header_img">
      <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
    </div>
  </div>
  <div class="page_content">
    <table>
      <tr>
        <td colspan=2><%= wicked_pdf_image_tag 'wbr_logo.png', width: 500, height: 450 %></td>
        <td colspan=2><%= wicked_pdf_image_tag 'wbr_logo.png', width: 500, height: 450 %></td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name">Jose Mateo Vidal Barrera</p>
      <p class="incharge_cellphone">+57 3008518308</p>
      <p class="incharge_email">jvidalba@gmail.com</p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>

<!-- <div class="page-break"></div> -->

