<!--
  Firt page of PDF report
-->
<div class="first_page">
  <div class="logo_wbr">
    <%= wicked_pdf_image_tag 'wbr_logo.png', width: 450, height: 200 %>
  </div>
  <div class="info_target">
    <p class="name_target">
      <h1>
        <%= "#{ get_trato_destino_reporte(@inmueble.try(:trato_destino_reporte))} "+"#{@inmueble.try(:nombre_destino_reporte) }" %>
      </h1>
    </p>
    <p class="charge_target">
      <h2>
        <%= @inmueble.try(:cargo_destino_reporte) %>
      </h2>
    </p>
    <p class="logo_target">
      <% if @inmueble.logo_url.nil? %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4>No hay logo para mostrar</h4>
      <% else %>
        <%= wicked_pdf_image_tag(@inmueble.logo_url.to_s, width: 420, height: 180) %>
      <% end %>
    </p>
  </div>
</div>
<!--
  End firt page of PDF report
-->
<!--
  Second page of PDF report
-->
<div class="second_page">
  <div class="header">
    <div class="info_header">
      <p>Índice</p>
    </div>
    <div class="header_img">
      <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
    </div>
  </div>
  <div class="page_content">
    <div class="summary_list">
      <ol>
        <li>Descripción del inmueble, fotos y normas de uso.</li>
        <li>Localización y georeferenciación del inmueble.</li>
        <li>Características e información complementaria.</li>
        <li>Gráficos complementarios.</li>
      </ol>
    </div>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name"><%= @inmueble.try(:nombre_encargado) %></p>
      <p class="incharge_cellphone">+57 <%= @inmueble.try(:celular_encargado) %></p>
      <p class="incharge_email"><%= @inmueble.try(:email_encargado) %></p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>
<!--
  End second page of PDF report
-->

<!--
  Third page of PDF report
-->
<div class="third_page">
  <div class="header">
    <div class="info_header">
      <p><%= get_clase_inmueble(@inmueble.try(:clase_inmueble)) %></p><p><%= get_tipo_negocio(@inmueble.try(:tipo_negocio))%></p><p><%= "Valor total: $#{@inmueble.try(:valor_total)}" %></p>
    </div>
    <div class="header_img">
      <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
    </div>
  </div>
  <div class="page_content">
    <table>
      <tr>
        <td colspan=2><%= wicked_pdf_image_tag @img_inmueble_1, width: 400, height: 350 %></td>
        <td colspan=2><%= wicked_pdf_image_tag @img_inmueble_2, width: 400, height: 350 %></td>
      </tr>
      <tr>
        <td>Ciudad</td>
        <td><%= @inmueble.ciudad.try(:nombre) %></td>
      </tr>
      <% @inmueble.third_page_values.each_slice(2).each do |pair| %>
        <tr>
          <td><%=  I18n.t("pdf_report.third_page.#{pair.first.first.to_s}") %></td>
          <td><%=  pair.first.second %></td>

          <td><%=  I18n.t("pdf_report.third_page.#{pair.second.first.to_s}") %></td>
          <td><%=  pair.second.second %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name"><%= @inmueble.try(:nombre_encargado) %></p>
      <p class="incharge_cellphone">+57 <%= @inmueble.try(:celular_encargado) %></p>
      <p class="incharge_email"><%= @inmueble.try(:email_encargado) %></p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>
<!--
  End third page of PDF report
-->

<!--
  Fourth page of PDF report
-->
<% unless @img_mapa.empty? %>
  <div class="fourth_page">
    <div class="header">
      <div class="info_header">
        <p>Localización</p>
      </div>
      <div class="header_img">
        <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
      </div>
    </div>
    <div class="page_content">
      <div class="google_maps_img">
        <%= wicked_pdf_image_tag @img_mapa, width: 600, height: 540 %>
      </div>
    </div>
    <div class="footer">
      <div class="info_incharge">
        <p class="incharge_name"><%= @inmueble.try(:nombre_encargado) %></p>
        <p class="incharge_cellphone">+57 <%= @inmueble.try(:celular_encargado) %></p>
        <p class="incharge_email"><%= @inmueble.try(:email_encargado) %></p>
      </div>
      <div class="bottom_img">
        <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
      </div>
    </div>
  </div>
<% end %>
<!--
  End fourth page of PDF report
-->

<!--
  Fiveth page of PDF report
-->
<div class="fiveth_page">
  <div class="header">
    <div class="header_img">
      <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
    </div>
  </div>
  <div class="page_content">
    <table>
      <tr>
        <td class="title">Entorno</td>
      </tr>
      <tr>
        <td>
          <%= @inmueble.try(:entorno) %>
        </td>
      </tr>
      <tr>
        <td class="title">Transporte</td>
      </tr>
      <tr>
        <td>
          <%= @inmueble.try(:transporte) %>
        </td>
      </tr>
      <tr>
        <td class="title">Otras características</td>
      </tr>
      <tr>
        <td>
          <%= @inmueble.try(:otras_caracteristicas) %>
        </td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name"><%= @inmueble.try(:nombre_encargado) %></p>
      <p class="incharge_cellphone">+57 <%= @inmueble.try(:celular_encargado) %></p>
      <p class="incharge_email"><%= @inmueble.try(:email_encargado) %></p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>
<!--
  End fiveth page of PDF report
-->

<!--
  Sixth page of PDF report
-->
<div class="sixth_page">
  <div class="header">
    <div class="header_img">
      <%= wicked_pdf_image_tag 'top_wbr.png', width: 1100 %>
    </div>
  </div>
  <div class="page_content">
    <% if !@img_planos.empty? and !@img_adicional.empty? %>
      <div class="both_images">
        <table>
          <tr>
            <td colspan=2>
              <%= wicked_pdf_image_tag @img_planos, width: 500, height: 450 %>
            </td>
            <td colspan=2>
              <%= wicked_pdf_image_tag @img_adicional, width: 500, height: 450 %>
            </td>
          </tr>
        </table>
      </div>
    <% else %>
      <% if @img_adicional.empty? %>
        <div class="uniq_img">
          <%= wicked_pdf_image_tag @img_planos, width: 500, height: 450 %>
        </div>
      <% else %>
        <div class="uniq_img">
          <%= wicked_pdf_image_tag @img_adicional, width: 500, height: 450 %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="footer">
    <div class="info_incharge">
      <p class="incharge_name"><%= @inmueble.try(:nombre_encargado) %></p>
      <p class="incharge_cellphone">+57 <%= @inmueble.try(:celular_encargado) %></p>
      <p class="incharge_email"><%= @inmueble.try(:email_encargado) %></p>
    </div>
    <div class="bottom_img">
      <%= wicked_pdf_image_tag "bottom_wbr.png", width: 1100 %>
    </div>
  </div>
</div>
<!--
  End sixth page of PDF report
-->
