<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <%= link_to 'Nuevo inmueble', new_inmueble_path, :class => "btn btn-primary" %>
        <h1>Listado de inmuebles(<%= @inmuebles.count %>)</h1>
		<div class="bs-example table-responsive">
			<table class="table table-striped table-hover ">
				<thead>
		          <tr>
		          	<th>Ciudad</th>
		          	<th>Dirección</th>
		          	<th>Zona</th>
		            <th>Código</th>
		            <th>Clase</th>
		            <th>Negocio</th>
		            <th colspan="2">Opciones</th>
		          </tr>
		      	</thead>

		        <% @inmuebles.each do |inmueble| %>
		        <tbody>
		        	<tr>
		          		<td><%= inmueble.ciudad.nombre %></td>
		          		<td><%= inmueble.direccion %></td>
		          		<td><%= inmueble.zona %></td>
			          	<td><%= inmueble.codigo_inmueble %></td>
			          	<td><%= get_clase_inmueble inmueble.clase_inmueble %></td>
			          	<td><%= get_tipo_negocio inmueble.tipo_negocio %></td>
			          	<td>
				          	<div class="bs-example" style="margin-bottom: 15px;">
					          <div class="btn-group">
					            <%= link_to 'Ver', inmueble, :class => "btn btn-default" %>
					            <%= link_to 'Editar', edit_inmueble_path(inmueble), :class => "btn btn-default" %>
					            <% if inmueble.active? %>
					            	<%= link_to 'Inactivar', set_status_inmuebles_path(inmueble, 0), data: { confirm: '¿Está seguro?' }, :class => "btn btn-danger", remote: true %>
					            <% else %>
					            	<%= link_to 'Activar', set_status_inmuebles_path(inmueble, 1), data: { confirm: '¿Está seguro?' }, :class => "btn btn-danger", remote: true %>
					            <% end %>
					          </div>
					        </div>
				        </td>
		            </tr>
		            </tbody>
		        <% end %>

		 	</table>
		</div>
      </div>
    </div>
  </div>
</div>