<!DOCTYPE html>
<html>
<head>
  <title>RamiWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a href="../" class="navbar-brand">Inicio</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <% if current_user %>
                <li><%= link_to "Inmuebles", inmuebles_path %></li>
                <li><%= link_to "Propietarios", propietarios_path%></li>
                <li><%= link_to "Interesados", interesados_path %></li>
                <li><%= link_to "Usuarios", usuarios_path %></li>
                <li><%= link_to "Buscador", searcher_inmuebles_path %></li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <% else %>
                <li><%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link'  %></li>
              <% end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-12">
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert alert-error"><%= alert %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
    <div id="footer">
      <div class="panel-footer">
        <div class="navbar" >
          <ul class="nav">
            <% if user_signed_in? %>
              <li><center><p>Inicio de sesión como: <strong><%= current_user.email %></strong></p></center></li>
              <li>
                <center>
                  <%= link_to 'Configuración', conf_pages_path, :class => 'navbar-link' %> |
                  <%= link_to 'Editar datos', edit_user_registration_path, :class => 'navbar-link' %> |
                  <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                </center>
              </li>
            <% else %>
              <li><center><p>No has iniciado sesión</p></center></li>
              <li><center><%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link' %></center></li>
            <% end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
