<!DOCTYPE html>
<html>
<head>
  <title>RamiWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
          <a href="../" class="navbar-brand">Inicio</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
		<div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <!--
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../amelia/">Amelia</a></li>
                <li><a href="../cerulean/">Cerulean</a></li>
                <li><a href="../cosmo/">Cosmo</a></li>
                <li><a href="../cyborg/">Cyborg</a></li>
                <li><a href="../flatly/">Flatly</a></li>
                <li><a href="../journal/">Journal</a></li>
                <li><a href="../lumen/">Lumen</a></li>
                <li><a href="../readable/">Readable</a></li>
                <li><a href="../simplex/">Simplex</a></li>
                <li><a href="../slate/">Slate</a></li>
                <li><a href="../spacelab/">Spacelab</a></li>
                <li><a href="../superhero/">Superhero</a></li>
                <li><a href="../united/">United</a></li>
                <li><a href="../yeti/">Yeti</a></li>
              </ul>
            </li>
           -->
            <% if current_user %>
                <li>
                  <%= link_to "Inmuebles", inmuebles_path %>
                </li>
                <li>
                	<%= link_to "Propietarios", propietarios_path%>
                </li>
                <!-- 
                <li>
                    <a href="#"> Interesados</a>
                </li>
                -->
                <li>
                  <%= link_to "Usuarios", usuarios_path %>
                </li>
            <% end %>
            <!-- 
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                <li><a href="./bootstrap.css">bootstrap.css</a></li>
                <li class="divider"></li>
                <li><a href="./variables.less">variables.less</a></li>
                <li><a href="./bootswatch.less">bootswatch.less</a></li>
              </ul>
            </li>
            -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
          	<% if user_signed_in? %>
            	<li><p>Inicio de sesi칩n como: <strong><%= current_user.email %></strong></p></li>
            	<li><%= link_to 'Editar datos', edit_user_registration_path, :class => 'navbar-link' %> </li>
            	<li><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                <li><%# link_to "Crear usuario", new_user_registration_path, :class => 'navbar-link'  %></li>
           	<% else %>
           		<li><%= link_to "Iniciar sesi칩n", new_user_session_path, :class => 'navbar-link'  %></li>
           	<% end%>
          </ul>
        </div>
	</div>	
</div>

<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-lg-12">
				<% if notice %>
				    <p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
				    <p class="alert alert-error"><%= alert %></p>
				<% end %>		
			</div>
		</div>
	</div>
	
	<%= yield %>	
</div>
<footer>
  <div class="panel panel-default" style="
          position: fixed;
          bottom: 60px;
          width: 100%;
          height: 30px;">
    <div class="panel-footer">
      <center>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
          </a>
          <br />
          Este obra est치 bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons Atribuci칩n-NoComercial-CompartirIgual 4.0 Internacional</a>.
            <br/>
          J. Mateo Vidal B.
          <br/>
          <%= link_to "GitHub", "https://github.com/jvidalba1", :class => "btn btn-link", :target => "_blank" %> |
          <%= link_to "Twitter", "https://twitter.com/jvidalba", :class => "btn btn-link", :target => "_blank" %> |
          <%= link_to "Facebook", "https://facebook.com/jvidalba", :class => "btn btn-link", :target => "_blank" %> |
          <%= link_to "Linkedin", "http://www.linkedin.com/in/jvidalba", :class => "btn btn-link", :target => "_blank" %> |
          <%= link_to "Aboutme", "http://about.me/jvidalba", :class => "btn btn-link", :target => "_blank" %>
      </center>
    </div>
  </div>
</footer>


</body>
</html>
